*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: darkcyan;
    padding: 20px;
    text-align: right;
    

    li{
        list-style: none;
        display: inline-block;
        position: relative;
        padding-left: 40px; 
              
            }

            li :hover{
                color: orangered;
                text-decoration: underline;
            }

    li a {
        text-decoration: none;
        list-style: none;
        color: white;
        
        
        
    }
}


.tb{
    margin-top: 20px;
    margin-left: 10%;
    width : 80%;
    margin-right: 10%;
    margin-bottom: 40px;

}

.tbl{
    padding: 20px;
    line-height: 30px;
    border: solid brown 2px;
    
    margin-top: 10px;
    border-radius: 10px;
   

    table{
        border: solid;
        width: 800px;
        border-collapse: collapse;


        tr{
            border: solid;
        }

        td{
            border: solid;
            padding: 10px;
        }
    }

    th{
        border: solid;
    }
    tr{
        border:solid
    }

    

    
}

.footer{
    background-color: black;
    display: flex;
}

.pt1{
    color: white;
    padding: 20px;
    flex-basis: 30%;
}

.pt2{
    color: white;
    padding: 20px;
    flex-basis: 30%;
}

.pt3{
    color: white;
    padding: 20px;
    flex-basis: 30%;
}

.ft1{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}